.App {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px; 
    }
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 10px;
 
    }
    
.card {
        padding: 10px;
        border-radius: 4px;
        font-size: 14px;
        background-color: #fff;
        border: thin solid #ddd;
        margin-bottom: 5px;
          
      }
h3 {
        font-size: small;
        font-weight: bold;
    }
.aside  {
    display: grid;
    grid-template-columns: auto auto  ;
    grid-gap: 10px;
    height: 100px;
}
.heading {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 8px;
      }